<section class="slim"{% if block.title %} id="{{ block.title | strip | downcase | replace: ' ', '-' | replace: '#', '' }}"{% endif %}>
  <article class="report">
    <div class="section__row">
      {% if block.icon %}
        <div class="section__column">
          <img src="{{ block.icon }}" alt="{{ block.title }}" width="120" height="160">
        </div>
      {% endif %}
      <div class="section__column">
        {% if block.hero %}
          <h1>{{ block.title }}</h1>
        {% else %}
          <h2>{{ block.title }}</h2>
        {% endif %}
        <div>
          {% if block.description %}
            {{ block.description | markdownify }}
          {% endif %}
          {% if block.details %}
            <p class="small">
              {% if authors %}
                {% if authors.size > 1 %}
                  {% assign author_label = "Authors" %}
                {% else %}
                  {% assign author_label = "Author" %}
                {% endif %}
                <span>
                  {{ author_label }}: {% for author in metadata.authors %}{% if forloop.index > 1 %}, {% endif %}{{ author | authorize: "full_name" }}{% endfor %}
                </span><br>
              {% endif %}
              <span>Date: {{ date | date: "%Y-%m-%d" }}</span>
            </p>
          {% endif %}
          {% if block.author %}
            {% for author in metadata.authors %}
              {% assign thisAuthor = authors | where: "name", author | first %}
              <div class="section__piece">
                <div class="avatar"><img src="{{ thisAuthor.avatar }}" alt="{{ thisAuthor.full_name }}" height="94" width="94"></div>
                <h3>{{ thisAuthor.full_name }}</h3>
                <div class="small">
                  <p>{{ thisAuthor.bio }}</p>
                  {% if thisAuthor.links %}
                    <div class="nav nav--alpha">
                      <ul>
                        {% for link in thisAuthor.links %}
                          <li><a class="plain" href="{{ link.href }}">{{ link.name }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            <div class="section__piece">
              <div>
                <p class="small">If you would like to write, analyze and audit more sites with us, <a href="mailto:css.auditors@gmail.com">contact us</a>.</p>
              </div>
            </div>
          {% endif %}
          {% if block.social %}
            {% assign twitterLink = "https://twitter.com/intent/tweet?url=" | append: site.url | append: page.url | append: "&text=" | append: title | append: "&via=" | append: site.twitter %}
            {% assign facebookLink = "https://facebook.com/sharer.php?u=" | append: site.url | append: page.url %}
            {% assign redditLink = "https://www.reddit.com/submit?url=" | append: site.url | append: page.url + "&title=" + title %}
            <div class="nav nav--alpha">
              <ul>
                <li><a class="plain" href="{{ twitterLink }}" target="_blank">Twitter</a></li>
                <li><a class="plain" href="{{ facebookLink }}" target="_blank">Facebook</a></li>
                <li><a class="plain" href="{{ redditLink }}" target="_blank">Reddit</a></li>
              </ul>
            </div>
          {% endif %}
          {% if block.list %}
            {% for elem in block.list %}
              {% if elem.description %}
                {{ elem.description | markdownify }}
              {% endif %}
              {% if elem.quote.text %}
                {{ elem.quote.text | quotify: elem.quote.author }}
              {% endif %}
              {% if elem.var %}
                {% if elem.var.wrap and elem.var.item %}
                  <{{ elem.var.wrap }}>{{ elem.var.item | variablize: object, elem.var.type }}</{{ elem.var.wrap }}>
                {% elsif elem.var.item %}
                  {{ elem.var.item | variablize: object, elem.var.type }}
                {% endif %}
              {% endif %}
              {% if elem.chart %}
                {% if elem.chart.item %}
                  {{ elem.chart.item | chartize: object, elem.chart.type }}
                  {% if elem.chart.info %}
                    <p><small>{{ elem.chart.info }}</small></p>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
        {% if block.cta %}
          <div>
            {% for cta in block.cta %}
              <a class="button" href="{{ cta.href }}"{% if cta.download %} download{% endif %}>{{ cta.title }}</a>
            {% endfor %}
          </div>
        {% endif %}
        {% if block.subscribe %}
          {% include subscribe %}
        {% endif %}
      </div>
    </div>
  </article>
</section>
