{%- if report -%}
  {% assign reportSorted = report.list | sort: 'title' %}
  <div class="table-wrapper">
    <table class="small charts-css bar multiple show-heading show-labels show-primary-axis show-data-axes data-spacing-{{ space | default: '3' }}" style="--labels-size: 10em;--cols: {{ report.list | size }};--col-height: {{ height | default: '2.5rem' }};">
      <caption>CSS sizes</caption>
      <thead>
        <tr>
          <th scope="col">Site</th>
          <th scope="col">Size</th>
        </tr>
      </thead>
      <tbody>
        {%- for item in reportSorted -%}
          {%- assign maxSize = report.maxSize.size -%}
          {%- if item.size -%}
            {%- assign size = item.size -%}
            {%- assign sizePercent = size | divided_by: maxSize -%}
          {%- else -%}
            {%- assign size = 0 -%}
            {%- assign sizePercent = 0 -%}
          {%- endif -%}
          <tr>
            <th scope="row">{{ item.site.title }}</th>
            <td style="--size:{{ sizePercent }};"><span>Size: {{ size | fileSize }}</span></td>
            </td>
          </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  <small>This graph is interactive. You could tap or hover over bars to see extra information.</small>
{%- endif -%}
