{%- if report -%}
  <div class="table-wrapper">
    <table class="small">
      <thead>
        <tr>
          <th></th>
          {%- unless simple -%}
            <th class="tar"><b>Count</b></th>
          {%- endunless -%}
          <th class="tar"><b>Size</b></th>
          <th class="tar"><b>Gzip</b></th>
        </tr>
      </thead>
      <tbody>
        {%- for item in report.list -%}
          <tr>
            <td colspan="4"><b><a href="{{ item.site.url }}">{{ item.site.title }}</a></b></td>
          </tr>
          {%- if item['link-or-import'] -%}
            <tr>
              <td>{{ item['link-or-import'].name }}</td>
              {%- unless simple -%}
                <td class="tar">{{ item['link-or-import'].count }}</td>
              {%- endunless -%}
              <td class="tar">{{ item['link-or-import'].size | fileSize }}</td>
              <td class="tar">{{ item['link-or-import'].gzip | fileSize }}</td>
            </tr>
          {%- endif -%}
          {%- if item['style'] -%}
            <tr>
              <td>{{ item['style'].name }}</td>
              {%- unless simple -%}
                <td class="tar">{{ item['style'].count }}</td>
              {%- endunless -%}
              <td class="tar">{{ item['style'].size | fileSize }}</td>
              <td class="tar">{{ item['style'].gzip | fileSize }}</td>
            </tr>
          {%- endif -%}
          {%- if item['inline'] -%}
            <tr>
              <td>{{ item['inline'].name }}</td>
              {%- unless simple -%}
                <td class="tar">{{ item['inline'].count }}</td>
              {%- endunless -%}
              <td class="tar">{{ item['inline'].size | fileSize }}</td>
              <td class="tar">{{ item['inline'].gzip | fileSize }}</td>
            </tr>
          {%- endif -%}
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{%- endif -%}
