{%- if report -%}
  <div class="table-wrapper">
    <table class="small charts-css bar multiple show-heading show-labels show-primary-axis show-data-axes data-spacing-{{ space | default: '3' }}" style="--labels-size: 10em;--cols: {{ report.list | size }};--col-height: {{ height | default: '2.5rem' }};">
      <caption>CSS sizes</caption>
      <thead>
        <tr>
          <th scope="col">Site</th>
          <th scope="col">Size</th>
        </tr>
      </thead>
      <tbody>
        {%- for item in report.list -%}
          {%- assign maxImportSize = report.maxSizeImport['link-or-import'].size -%}
          {%- if item['link-or-import'].size -%}
            {%- assign importSize = item['link-or-import'].size -%}
            {%- assign importSizePercent = importSize | divided_by: maxImportSize -%}
          {%- else -%}
            {%- assign importSize = 0 -%}
            {%- assign importSizePercent = 0 -%}
          {%- endif -%}
          {%- assign maxStyleSize = report.maxSizeStyle['style'].size -%}
          {%- if item['style'].size -%}
            {%- assign styleSize = item['style'].size -%}
            {%- assign styleSizePercent = styleSize | divided_by: maxStyleSize -%}
          {%- else -%}
            {%- assign styleSize = 0 -%}
            {%- assign styleSizePercent = 0 -%}
          {%- endif -%}
          {%- assign maxInlineSize = report.maxSizeInline['inline'].size -%}
          {%- if item['inline'].size -%}
            {%- assign inlineSize = item['inline'].size -%}
            {%- assign inlineSizePercent = inlineSize | divided_by: maxInlineSize -%}
          {%- else -%}
            {%- assign inlineSize = 0 -%}
            {%- assign inlineSizePercent = 0 -%}
          {%- endif -%}
          <tr>
            <th scope="row">{{ item.site.title }}</th>
            {%- if item['link-or-import'] -%}
              <td style="--size:{{ importSizePercent }};"><span>{{ item['link-or-import'].name }}:
                {{ importSize | fileSize }}</span></td>
            {%- endif -%}
            {%- if item['style'] -%}
              <td style="--size:{{ styleSizePercent }};"><span>{{ item['style'].name }}: {{ styleSize | fileSize }}</span></td>
            {%- endif -%}
            {%- if item['inline'] -%}
              <td style="--size:{{ inlineSizePercent }};"><span>{{ item['inline'].name }}: {{ inlineSize | fileSize }}</span>
            {%- endif -%}
            </td>
          </tr>
        {%- endfor -%}
      </tbody>
    </table>
    <ul class="charts-css legend legend-inline legend-circle">
      {%- if item['link-or-import'] -%}
        <li style="--color-1: hsl(222, 88%, 55%);"><small>{{ report.maxSizeInline['link-or-import'].name }}</small></li>
      {%- endif -%}
      {%- if item['style'] -%}
        <li style="--color-2: hsl(252, 88%, 55%);"><small>{{ report.maxSizeInline['style'].name }}</small></li>
      {%- endif -%}
      {%- if item['inline'] -%}
        <li style="--color-3: hsl(192, 88%, 55%);"><small>{{ report.maxSizeInline['inline'].name }}</small></li>
      {%- endif -%}
    </ul>
  </div>
  <small>This graph is interactive. You could tap or hover over bars to see extra information.</small>
{%- endif -%}
