{%- if report -%}
  <div class="table-wrapper">
    <table class="small">
      <thead>
        <tr>
          <th></th>
          <th><b>Site</b></th>
          <th class="tar"><b>Count</b></th>
        </tr>
      </thead>
      <tbody>
        {%- if report.maxErrors -%}
          <tr>
            <th><b>Most errors</b></th>
            <td>{{ report.maxErrors.site.title }}</td>
            <td class="tar">{{ report.maxErrors.errors_count }}</td>
          </tr>
        {%- endif -%}
        {%- assign minErrorsSize = report.minErrorsList | size -%}
        {%- if minErrorsSize > 0 -%}
          <tr>
            <th><b>Least errors</b></th>
            <td>
              {%- for minError in report.minErrorsList -%}
                {{ minError.site.title }}{% unless forloop.last %}, {% endunless %}
              {%- endfor -%}
            </td>
            <td class="tar">0</td>
          </tr>
        {%- elsif report.minErrors -%}
          <tr>
            <th><b>Least errors</b></th>
            <td>{{ report.minErrors.site.title }}</td>
            <td class="tar">{{ report.minErrors.errors_count }}</td>
          </tr>
        {%- endif -%}
        {%- if report.avgErrors -%}
          <tr>
            <th><b>Average number of errors</b></th>
            <td>-</td>
            <td class="tar">{{ report.avgErrors | ceil }}{%- if report.avgErrors2 -%}<br>median {{ report.avgErrors2 | ceil }}{%- endif -%}</td>
          </tr>
        {%- endif -%}
      </tbody>
    </table>
  </div>
{%- endif -%}
