---
layout: layout
---

{% unless justBlocks %}
  <section class="slim"{% if block.title %} id="{{ block.title | strip | downcase | replace: ' ', '-' | replace: '#', '' }}"{% endif %}>
    <div class="report">
      {% if title %}
        <h1>{{ title }}</h1>
      {% endif %}
      <div>
        {% if metadata.authors %}
          <p class="small">
            {% if metadata.authors %}
              {% if metadata.authors.size > 1 %}
                {% assign author_label = "Authors" %}
              {% else %}
                {% assign author_label = "Author" %}
              {% endif %}
              <span>
                {{ author_label }}: {% for author in metadata.authors %}{% if forloop.index > 1 %}, {% endif %}{{ author | authorize: "full_name" }}{% endfor %}
              </span><br>
            {% endif %}
            <span>Published: <time datetime="{{ date | date: "%Y-%m-%d" }}">{{ date | date: "%B %d, %Y" }}</time></span>
          </p>
        {% endif %}
      </div>
    </div>
  </section>
{% endunless %}
{% assign contentSize = content | size %}
{% if contentSize > 0 %}
  <section class="slim">
    <article class="report">
      {{ content }}
    </article>
  </section>
{% endif %}
{% for block in blocks %}
  {% include report %}
{% endfor %}
